body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("heart-bg.jpg");
    font-family: "Pixelify Sans", sans-serif;
}

/* Envelope */
#envelope-container {
    text-align: center;
    cursor: pointer;
}

#envelope {
    width: 200px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Letter Window */
#letter-container {
    display: none;
    position: fixed;
    inset: 0;
    justify-content: center;
    align-items: center;
}

.letter-window {
    width: 90vw;
    max-width: 800px;
    aspect-ratio: 3/2;
    padding-top: 250px;
    text-align: center;
    background-image: url("window.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.letter-window.open {
    transform: scale(1);
    opacity: 1;
}

h1 {
    font-size: 30px;
    margin-top: 40px;
}

p {
    font-size: 40px;
}

/* Hide stages initially */
#second-stage,
#final-stage {
    display: none;
}

/* Cat */
.cat {
    width: 220px;
    margin: 15px 0;
}

/* Buttons */
.buttons,
.second-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.btn {
    width: 120px;
    cursor: pointer;
}

/* No Button movement */
.no-wrapper {
    position: relative;
}

/* Text */
.love-text {
    font-size: 20px;
    max-width: 500px;
    margin: 10px auto;
    line-height: 1.5;
}

.second-question {
    font-size: 24px;
    margin-top: 130px;
}

.final-text {
    font-size: 22px;
    margin-bottom: 50px;
}
